@import url("./typography.css");
@import url("./utils.css");

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-secondary);
}


/* // tag globals  */

img,
.image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.img-cover {
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

button {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  padding: 9px 9px 9px 11px;
  border: 1px solid border-color-light;
  outline: none;
  font-size: 17px;
  background-color: transparent;
  word-spacing: 4px;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
  /* line-height: 1; */
}

a:hover {
  cursor: pointer;
  text-decoration-color: inherit;
  opacity: .6;

}

ul {
  list-style: none;
}


/* colors  */

.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-dark {
  background-color: var(--bg-black);
}
.bg-white {
  background-color: var(--bg-white);
}
.bg-gray {
  background-color:  var(--bg-grey);
}
.bg-white {
  background-color: color-white;
}

.bg-cocoa {
  background-color: color-cocoa;
}
.bg-aqua {
  background-color: color-aqua;
}
.bg-skin {
  background-color: color-skin;
}
.bg-cream {
  background-color: color-cream;
}

.color-dark {
  color: var(--clr-black);
}
.color-light {
  color: var(--clr-white);
}
.color-gray {
  color: var(--clr-gray);
}
.color-white {
  color: var(--clr-white);
}
.color-aqua {
  color: aqua;
}
.color-red {
  color: red;
}

/* Global defined css */

.blade-padding-xs {
  padding-top: 5rem;
}
.blade-padding-sm {
  padding-top: 5rem;
}
.blade-padding-lg {
  padding-top: 8rem;
}

.blade-margin-xs {
  margin-top: 5rem;
}
.blade-margin-sm {
  margin-top: 5rem;
}
.blade-margin-lg {
  margin-top: 8rem;
}
.d {
  border: 1px solid red;
}



/*  Flicking carousel */

.pagination .flicking-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
}
.pagination {
  bottom: -0px !important;
}
