.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}


/* // utils  */

.box-x-sm {
  min-height: 27px;
  min-width: 27px;
  max-height: 27px;
  max-width: 27px;
}

.box-sm {
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
}

.box {
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
}

.box-lg {
  min-height: 47px;
  min-width: 47px;
  max-height: 47px;
  max-width: 47px;
}

.box-x-lg {
  min-height: 55px;
  min-width: 55px;
  max-height: 55px;
  max-width: 55px;
}

.divider {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: color-gray;
}

/* //  positions  */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cover-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* // widths and heights */

.h-screen {
  height: 100vh;
}
.h-100pc {
  height: 100%;
}
.w-75pc {
  width: 75%;
}
.h-75pc {
  height: 75%;
}
.w-50pc {
  width: 50%;
}
.h-50pc {
  height: 50%;
}
.w-25pc {
  width: 25%;
}
.h-25pc {
  height: 25%;
}

.w-400 {
  width: min(100%, 400px);
}
.w-600 {
  width: min(100%, 600px);
}
.w-800 {
  width: min(100%, 800px);
}
.w-1000 {
  width: min(100%, 1000px);
}
.w-1200 {
  width: min(100%, 1200px);
}

/* paddings  */

.p-1 {
  padding: 0.5rem; /* 8px */
}
.p-2 {
  padding: 1rem; /* 16px */
}
.p-3 {
  padding: 1.5rem; /* 24px */
}
.p-4 {
  padding: 2rem; /* 32px */
}
.p-5 {
  padding: 2.5rem; /* 40px */
}

.pl-1 {
  padding-left: 0.5rem; /* 8px */
}
.pl-2 {
  padding-left: 1rem; /* 16px */
}
.pl-3 {
  padding-left: 1.5rem; /* 24px */
}
.pl-4 {
  padding-left: 2rem; /* 32px */
}
.pl-5 {
  padding-left: 2.5rem; /* 40px */
}

.pr-1 {
  padding-right: 0.5rem; /* 8px */
}
.pr-2 {
  padding-right: 1rem; /* 16px */
}
.pr-3 {
  padding-right: 1.5rem; /* 24px */
}
.pr-4 {
  padding-right: 2rem; /* 32px */
}
.pr-5 {
  padding-right: 2.5rem; /* 40px */
}

.px-1 {
  padding: 0 0.5rem; /* 8px */
}
.px-2 {
  padding: 0 1rem; /* 16px */
}
.px-3 {
  padding: 0 1.5rem; /* 24px */
}
.px-4 {
  padding: 0 2rem; /* 32px */
}
.px-5 {
  padding: 0 2.5rem; /* 40px */
}

.py-1 {
  padding: 0.5rem 0; /* 8px */
}
.py-2 {
  padding: 1rem 0; /* 16px */
}
.py-3 {
  padding: 1.5rem 0; /* 24px */
}
.py-4 {
  padding: 2rem 0; /* 32px */
}
.py-5 {
  padding: 2.5rem 0; /* 40px */
}

/* margins */

.m-1 {
  margin: 0.5rem; /* 8px */
}
.m-2 {
  margin: 1rem; /* 16px */
}
.m-3 {
  margin: 1.5rem; /* 24px */
}
.m-4 {
  margin: 2rem; /* 32px */
}
.m-5 {
  margin: 2.5rem; /* 40px */
}

.ml-1 {
  margin-left: 0.5rem; /* 8px */
}
.ml-2 {
  margin-left: 1rem; /* 16px */
}
.ml-3 {
  margin-left: 1.5rem; /* 24px */
}
.ml-4 {
  margin-left: 2rem; /* 32px */
}
.ml-5 {
  margin-left: 2.5rem; /* 40px */
}

.mr-1 {
  margin-right: 0.5rem; /* 8px */
}
.mr-2 {
  margin-right: 1rem; /* 16px */
}
.mr-3 {
  margin-right: 1.5rem; /* 24px */
}
.mr-4 {
  margin-right: 2rem; /* 32px */
}
.mr-5 {
  margin-right: 2.5rem; /* 40px */
}

.mx-1 {
  margin: 0 0.5rem; /* 8px */
}
.mx-2 {
  margin: 0 1rem; /* 16px */
}
.mx-3 {
  margin: 0 1.5rem; /* 24px */
}
.mx-4 {
  margin: 0 2rem; /* 32px */
}
.mx-5 {
  margin: 0 2.5rem; /* 40px */
}

.my-1 {
  margin: 0.5rem 0; /* 8px */
}
.my-2 {
  margin: 1rem 0; /* 16px */
}
.my-3 {
  margin: 1.5rem 0; /* 24px */
}
.my-4 {
  margin: 2rem 0; /* 32px */
}
.my-5 {
  margin: 2.5rem 0; /* 40px */
}

/* borders */

.border-1 {
  border: 1px solid var(--border-color-primary);
}
.border-2 {
  border: 2px solid var(--border-color-primary);
}

.border-bottom {
    border-bottom: 1px solid var(--border-color-primary);
  }
  
  .border-left {
    border-left: 1px solid var(--border-color-primary);
  }
  
  .border-right {
    border-right: 1px solid var(--border-color-primary);
  }
  
  .border-top {
    border-top: 1px solid var(--border-color-primary);
  }
  
  .border {
    border: 1px solid var(--border-color-primary);
  }
  
  .border-none {
    border-color: transparent !important;
  }
  
  .border-bold {
    border-width: 3px !important;
  }
  
  .border-dark {
    border-color: var(--border-color-primary) !important;
  }
  
  /* // border-radius  */
  
  .rounded-sm {
    border-radius: 5px;
  }
  
  .rounded-md {
    border-radius: 8px;
  }
  
  .rounded-lg {
    border-radius: 12px;
  }
  
  .rounded-x-lg {
    border-radius: 15px;
  }
  
  .rounded-0 {
    border-radius: 0 !important;
  }
  
  .circle {
    border-radius: 50%;
  }
  .pill {
    border-radius: 50px;
  }
