@import url("./styles/globals.css");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --clr-primary:red;
  --clr-secondary:green;
  --clr-black:black;
  --clr-white:white;
  --clr-grey:rgb(128, 128, 128);
  --clr-grey-light:rgb(206, 203, 203);
  --clr-grey-dark:rgb(69, 69, 69);

  /* background primary */
  --bg-primary:rgb(128, 128, 128);
  --bg-primary-light:rgb(206, 203, 203);
  --bg-primary-dark:rgb(69, 69, 69);  
  /* background secondary */
  --bg-secondary:#47B8B8;
  --bg-black:black;
  --bg-white:white;
  --border-primary:black;
  --border-secondary:white;

  --font-primary: Plus Jakarta Sans;
  --font-secondary: Inter;
  
}